<h1> Customers: drag and drop, list elements (non persistant 4 now) </h1>
<%-# Drag and dropable list -%>
<ul id="customerIndex">
	<% @customers.each do |customer| %>
	<%= content_tag_for :li, customer do %>
	<%= link_to customer.name, customer %></li>
	<% end %>
	<% end %>
</ul>
<%-# Link to new customer page -%>
<%= link_to new_customer_path  do %>
<span class="glyphicon glyphicon-plus"></span> New Customer
<% end %>
<br><br>
<p>Calculations (performed in ruby from relation to customers):</p>
<%-# Calculate and display total # of customers -%>
<p> Total # of customers: <%= @customers.each.count %> </P>
<%-# Calculate and display total # of sales to all customers -%>
<% @totalSalesNumber = 0 %>
<% @customers.each do |salesVar| %>
<% @totalSalesNumber = @totalSalesNumber + salesVar.sales.count %>
<% end %>
<p> Total # of sales to all customers: <%= @totalSalesNumber %> </P>