<h1> Show page </h1>


<table>
 <tbody>
<tr>
 <th> Customer Name </th>
 <th> Company Name</th>
 <th> ID</th>
</tr>

<tr>
	<td><%= @customer.name %></td>
	<td><%= @customer.company_name %></td>
	<td><%= @customer.customer_id %></td>
</tr>
 </tbody>
</table>

<%= link_to "All Customers", customers_path %>
<br><br>
<p>Number of Sales: <%= @customer.sales.count %></p>
<% @touse = @customer.sales.all %>
<p>List of sales: </p>
<table>
 <tbody>
<tr>
 <th> Transaction ID </th>
 <th> Customer ID </th>
 <th> Package ID</th>
</tr>
<% @touse.each do |customer| %>
<tr>
	<td><%= link_to @customer.sales.find(customer).transaction_id, customer %></td>
	<td><%= @customer.sales.find(customer).customer_id %></td>
	<td><%= @customer.sales.find(customer).package_id %></td>
</tr>
<% end %>
 </tbody>
</table>