<h1> Show page for customer</h1>
<%-# Info on selected customer -%>
<table>
<tbody>
<tr>
	<th> Customer Name </th>
	<th> Company Name</th>
	<th> Customer ID</th>
</tr>
<tr>
	<td><%= @customer.name %></td>
	<td><%= @customer.company_name %></td>
	<td><%= @customer.customer_id %></td>
</tr>
</tbody>
</table>
<%-# link back to index page -%>
<%= link_to "All Customers", customers_path %>
<br><br>
<%-# shows # of sales to customer -%>
<p>Number of Sales to this customer: <%= @customer.sales.count %></p>
<%-# shows # of packages bought by this customer -%>
<p>Number of packages sold to this customer: <%= @customer.packages.all.uniq.pluck(:id).count %></p>
<%-# shows # of prodcuts bought by this customer -%>
<p>Number of products sold to this customer: <%= @customer.products.all.uniq.pluck(:id).count %></p>
<%-# Array of sales to customer -%>
<% @touse = @customer.sales.all %>
<p>List of sales made by customer: </p>
<%-# Table showings info on sales by selected customer-%>
<table>
<tbody>
<tr>
	<th> Transaction ID </th>
	<th> Customer Name </th>
	<th> Package ID</th>
</tr>
<%-# interates threw sales array and uses info to populate table-%>
<% @touse.each do |customerSale| %>
<tr>
	<td><%= link_to @customer.sales.find(customerSale).transaction_id, customerSale %></td>
	<td><%= @customer.sales.find(customerSale).customer.name %></td>
	<td><%= link_to @customer.packages.find(  @customer.sales.find(customerSale).package_id ).package_id , package_path( @customer.sales.find(customerSale).package_id ) %></td>
</tr>
<% end %>
</tbody>
</table>
<%-# Table displaying info for all packages bought by customer -%>
<br>
<p>List of packages bought by customer: </p>
<table>
<tbody>
<tr>
	<th> Package ID </th>
	<th> Product In Package </th>
	<th> Package Cost</th>
	<th> Total # of sales of package </th>
</tr>
<%-# Creates array of all packges bought by customer and supresses dupes -%>
<% @touse2 = @customer.packages.all.uniq.pluck(:id) %>
<%-# Interates threw package array and uses info to populate table -%>
<% @touse2.each do |customerPackage| %>
<tr>
	<td><%= link_to @customer.packages.find(customerPackage).package_id, package_path( @customer.packages.find(customerPackage).id ) %></td>
	<td><%= link_to @customer.products.find( @customer.packages.find(customerPackage).product_id ).product_name, product_path( @customer.packages.find(customerPackage).product.id ) %></td>
	<td><%= @customer.packages.find(customerPackage).cost %></td>
	<td><%= @sales.with_package( customerPackage ).count %></td>
</tr>
<% end %>
</tbody>
</table>
<%-# Table displaying all products bought by customer -%>
<br>
<p>List of products bought by customer: </p>
<table>
<tbody>
<tr>
	<th> Product Name </th>
	<th> Product Info </th>
	<th> Product Base Cost</th>
	<th> Total # Of Packages With Product </th>
	<th> Total # Of Sales With Product </th>
</tr>
<%-# Creates array of all packges bought by customer and supresses dupes -%>
<% @touse2 = @customer.products.all.uniq.pluck(:id) %>
<%-# Interates threw product array and uses info to populate table -%>
<% @touse2.each do |customerProduct| %>
<tr>
	<td><%= link_to @customer.products.find(customerProduct).product_name, product_path( @customer.products.find(customerProduct).id ) %></td>
	<td><%= @customer.products.find(customerProduct).product_info %></td>
	<td><%= @customer.products.find(customerProduct).product_base_cost %></td>
	<td><%= @packages.with_product( customerProduct ).count %></td>
	<td>
	<% @totalVar = 0 
 	@packages.with_product(customerProduct).each do |myVar2|
 	@totalVar = @totalVar + @sales.with_package(myVar2).count
 	end %>
 	<%= @totalVar %>
	</td>
</tr>
<% end %>
</tbody>
</table>






<p>TESTING: </p>
<%-# Table showings info on sales by selected customer-%>
<table>
<tbody>
<tr>
	<th> TESTING </th>
	<th> TESTING </th>
	<th> TESTING ID</th>
</tr>
<% @touse5 = @customer.products.all.uniq.pluck(:id) %>
<%-# Interates threw package array and uses info to populate table -%>
<% @touse5.each do |customerPackage| %>
<tr>
	<td><%= @sales.with_package( customerPackage ).count %></td>
	<td><%=  %></td>
	<td> 

<% @totalVar = 0 
 @packages.with_product(customerPackage).each do |myVar2|
 @totalVar = @totalVar + @sales.with_package(myVar2).count  
 end %>
 <%= @totalVar %>

	</td>
</tr>
<% end %>
</tbody>
</table>

<% @touse6 = @customer.products.all.uniq.pluck(:id) %>
<br>
<% @touse6.each do |myVar| %>
<% @totalVar = 0 %>
<br>
<% @packages.with_product(myVar).count %>
<br>
<% @packages.with_product(myVar).each do |myVar2| %>
<br>
<% @sales.with_package(myVar2).count %>
<% @totalVar = @totalVar + @sales.with_package(myVar2).count  %>
<% end %>
<%= @totalVar %>
<% end %>

<br><br>
<% @touse7 = @customer.products.all.uniq.pluck(:id)

@touse7.each do |myVar| 
 @totalVar = 0 

@packages.with_product(myVar).count 

 @packages.with_product(myVar).each do |myVar2| 

 @sales.with_package(myVar2).count 
 @totalVar = @totalVar + @sales.with_package(myVar2).count  
 end 
 @totalVar 
 end %>