<h1> Show page </h1>

<table>
 <tbody>
<tr>
 <th> Product Name </th>
 <th> Product Info</th>
 <th> Base Cost</th>
</tr>

<tr>
	<td><%= @product.product_name %></td>
	<td><%= @product.product_info %></td>
	<td><%= @product.product_base_cost %></td>
</tr>
 </tbody>
</table>

<%= link_to "All Products", products_path %>
<br><br>

<% @touse = @product.packages.all %>
<p>List of sales: </p>
<table>
 <tbody>
<tr>
 <th> Package ID </th>
 <th> Product ID </th>
 <th> Package Cost</th>
</tr>
<% @touse.each do |packvar| %>
<tr>
	<td><%= link_to @product.packages.find(packvar).package_id, packvar %></td>
	<td><%= @product.packages.find(packvar).product_id %></td>
	<td><%= @product.packages.find(packvar).cost %></td>
</tr>
<% end %>
 </tbody>
</table>