<h1> Show page </h1>

<table>
 <tbody>
<tr>
 <th> Product Name </th>
 <th> Product Info</th>
 <th> Base Cost</th>
</tr>

<tr>
	<td><%= @product.product_name %></td>
	<td><%= @product.product_info %></td>
	<td><%= @product.product_base_cost %></td>
</tr>
 </tbody>
</table>

<%= link_to "All Products", products_path %>
<br><br>
<p>Number of packages with this product: <%= @product.packages.count %></p>
<p> List of pacakges with product: </p>
<% @touse = @product.packages.all %>
<table>
 <tbody>
<tr>
 <th> Package ID </th>
 <th> Product ID </th>
 <th> Package Cost</th>
</tr>
<% @touse.each do |packvar| %>
<tr>
	<td><%= link_to @product.packages.find(packvar).package_id, packvar %></td>
	<td><%= @product.packages.find(packvar).product_id %></td>
	<td><%= @product.packages.find(packvar).cost %></td>
</tr>
<% end %>
 </tbody>
</table>
<br><br>
<p> List of sales with product: </p>
<table>
 <tbody>
<tr>
 <th> Transation ID </th>
 <th> Customer ID </th>
 <th> Package ID</th>
</tr>
<% @touse2 = @product.sales.all %>
<% @touse2.each do |packvar| %>
<tr>
	<td><%= link_to @product.sales.find(packvar).transaction_id, sale_path( @product.sales.find(packvar).id ) %></td>
	<td><%= link_to @product.sales.find(packvar).customer_id, customer_path(  @product.sales.find(packvar).customer_id ) %></td>
	<td><%= link_to @product.sales.find(packvar).package_id, package_path( @product.sales.find(packvar).package_id ) %></td>
</tr>
<% end %>
 </tbody>
</table>
<br><br>
<p> List of customers who bought product: </p>
<table>
 <tbody>
<tr>
 <th> Transation ID </th>
 <th> Customer ID </th>
 <th> Package ID</th>
</tr>
<% @touse2 = @product.customers.all.uniq.pluck(:id) %>
<% @touse2.each do |packvar| %>
<tr>
	<td><%= link_to @product.customers.find(packvar).name, customer_path( @product.customers.find(packvar).id ) %></td>
	<td><%= @product.customers.find(packvar).company_name %></td>
	<td><%= @product.customers.find(packvar).customer_id %></td>
</tr>
<% end %>
 </tbody>
</table>