<h1> Sales by user input transaction ID </h1>
<%-# List of sales -%>
<ul>
	<% @sales.each do |sale| %>
	<li><%= link_to sale.transaction_id, sale %></li>
	<% end %>
</ul>
<%-# Link to add new sale -%>
<%= link_to new_sale_path  do %>
<span class="glyphicon glyphicon-plus"></span> New Sale
<% end %>
<br><br>
<p>Calculations:</p>
<%-# Calculate and display total # of sales -%>
<p> Total # of sales: <%= @sales.each.count %> </P>
<%-# Calculate and display total # of customers who have at least 1 sale -%>
<p> Total # of customers invovled in all sales: <%= @sales.select(:customer_id).distinct.count%> </P>
<%-# Calculate and display total # of packages who have at least 1 sale -%>
<p> Total # of packages invovled in all sales: <%= @sales.select(:package_id).distinct.count%> </P>