<h1>New sale</h1>

<%= form_for (@sale) do |f| %>
 
  <div class="field">
    <%= f.label :transaction_id %><br>
    <%= f.number_field :transaction_id %>
  </div> 

    <div class="field">
    <%= f.label :customer_id %><br>
    <%= f.collection_select(:customer_id, Customer.all, :id, :name, promt: true) %>
  </div> 

  <div class="field">
    <%= f.label :package_id %><br>
    <%= f.collection_select(:package_id, Package.all, :id, :package_id, promt: true) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
