<h1>New sale</h1>

<%= form_for (@sale) do |f| %>
 
  <div class="field">
    <%= f.label :transaction_id %><br>
    <%= f.number_field :transaction_id %>
  </div> 

  <div class="field">
    <%= f.label :customer_id %><br>
    <%= f.number_field :customer_id %>
  </div> 

  <div class="field">
    <%= f.label :package_id %><br>
    <%= f.number_field :package_id %>
  </div> 

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
