<h1> Show page </h1>
<%-# Info on selected sale -%>
<table >
<tbody >
<tr>
	<th> Transaction ID </th>
	<th> Customer ID</th>
	<th> Package ID</th>
</tr>
<tr>
	<td><%= @sale.transaction_id %></td>
	<td><%= link_to @sale.customer.name, customer_path( @sale.customer_id ) %></td>
	<td><%= link_to @sale.package.package_id, package_path( @sale.package_id ) %></td>
</tr>
 </tbody>
</table>
<%-# link back to index page -%>
<%= link_to "All Sales", sales_path %>
<%-# More info on customer in selected sale -%>
<br><br>
<p> More info on customer: </p>
<table>
<tbody>
<tr>
	<th> Customer Name </th>
	<th> Company Name </th>
	<th> Customer ID </th>
	<th> Total # Of Sales To Customer</th>
</tr>
<tr>
	<td><%= link_to @sale.customer.name, customer_path( @sale.customer_id ) %></td>
	<td><%= @sale.customer.company_name %></td>
	<td><%= @sale.customer.customer_id %></td>
	<td><%= @sales.with_customer( @sale.customer ).count %></td>
</tr>
</tbody>
</table>
<%-# More info on pacakage in selected sale -%>
<br><br>
<p> More info on package: </p>
<table>
<tbody>
<tr>
	<th> Package ID </th>
	<th> Product Name </th>
	<th> Cost </th>
	<th> Total # of sales of package </th>
</tr>
<tr>
	<td><%= link_to @sale.package.package_id, package_path( @sale.package_id ) %></td>
	<td><%= link_to @sale.package.product.product_name, product_path( @sale.package.product_id ) %></td>
	<td><%= @sale.package.cost %></td>
	<td><%= @sales.with_package( @sale.package_id ).count %></td>
</tr>
</tbody>
</table>
<%-# More info on product in pacakage in selected sale -%>
<br><br>
<p> More info on product in package: </p>
<table>
<tbody>
<tr>
	<th> Product Name </th>
	<th> Product Info </th>
	<th> Base Cost </th>
	<th> Total # Of Packages With Product </th>
	<th> Total # Of Sales With Product </th>
</tr>
<tr>
	<td><%= link_to @sale.package.product.product_name, product_path( @sale.package.product.id ) %></td>
	<td><%= @sale.package.product.product_info %></td>
	<td><%= @sale.package.product.product_base_cost %></td>
	<td><%= @packages.with_product(  @sale.package.product_id ).count %></td>
	<td>
	<% @totalVar = 0 
 	@packages.with_product(@sale.package.product_id).each do |myVar2|
 	@totalVar = @totalVar + @sales.with_package(myVar2).count
 	end %>
 	<%= @totalVar %>
	</td>
</tr>
</tbody>
</table>