<h1> Show page </h1>
<%-# Info on selected sale -%>
<table >
<tbody >
<tr>
	<th> Transaction ID </th>
	<th> Customer ID</th>
	<th> Package ID</th>
</tr>
<tr>
	<td><%= @sale.transaction_id %></td>
	<td><%= link_to @sale.customer.name, customer_path( @sale.customer_id ) %></td>
	<td><%= link_to @sale.package.package_id, package_path( @sale.package_id ) %></td>
</tr>
 </tbody>
</table>
<%-# link back to index page -%>
<%= link_to "All Sales", sales_path %>
<%-# Testing section 4 now -%>
<br><br>
<p>Other customers who bought product: </p>

<table>
 <tbody>
<tr>
 <th> ONE </th>
 <th> TWO </th>
 <th> THREE </th>
</tr>

<tr>
<td><%= @sale.package.cost %></td>

</tr>
 </tbody>
</table>